.add-new-wallpaper-sidebar {
    flex: 0 0 370px;
    height: 750px;

    padding: 16px;

    border-radius: 24px;
    border: 1px solid #FFFFFF26;

    background-color: #0B0B0B;

    .add-new-wallpaper-sidebar-container {
        width: 100%;
        height: calc(750px - 120px);
        overflow-y: auto;
    }
}