@import "@/scss-services/side-shadows.service";

.create-topic-image-upload {
    width: 235px;
    height: 350px;

    background-color: #161616;
    border-radius: 16px;
    border: 1px solid transparent;

    box-shadow: inset 0 0 139px 0 rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: .3s ease;

    &[data-drop-state="drag-active"] {
        background-color: #222121;
        border: 1px solid #00ff00;
    }

    &[data-drop-state="drag-reject"] {
        border: 1px solid #ffa0a0;
        background-color: #222121;
    }

    &[data-drop-state="drag-active"] {
        background-color: #222121;
        border: 1px solid #00ff00;
    }

    .create-topic-image-upload-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create-topic-image-preview {
        position: relative;
        width: 100%;
        border-radius: 16px;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
            background-position: center;
        }


    }
}