@import '@/scss-services/page-layout.service';

.home-page {
  @include pageLayout('home-page-content-wrapper') {
    .popular-topics-section {
      margin-top: 25px;

      .popular-topics {
        display: flex;
      }

      align-items: center;
    }
  };
}