.home-page {
  height: 100vh;
  flex: 1 1 100%;
  overflow: auto;

  .home-page-content-wrapper {
    padding: 8px;

    .popular-topics-section {
      margin-top: 25px;

      .popular-topics {
        display: flex;
        align-items: center;
      }
    }
  }
}


