.profile-page {
  flex: 1 1 100%;
  overflow: auto;
  height: 100vh;

  .profile-page-content-wrapper {
    padding: 20px 16px 0 0;
    color: white;

    .profile-page-uploads-section {
      margin-top: 27px;
    }

    .profile-page-created-topics-section {
      & > div:first-child {
        display: flex;
        align-items: center;

        button { margin-left: 15px}
      }
    }
  }
}