@import '@/scss-services/page-layout.service';

.profile-page {
  @include pageLayout('profile-page-content-wrapper', 20px 16px 0 0) {
    .profile-page-uploads-section {
      margin-top: 27px;
    }

    .profile-page-created-topics-section {
      & > div:first-child {
        display: flex;
        align-items: center;

        button { margin-left: 15px}
      }
    }
  }
}