@import '@/scss-services/page-layout.service';

.topic-page {
  @include pageLayout('topic-page-content-wrapper') {
    .topic-page-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}