.topic-page {
  flex: 1 1 100%;


  .topic-page-wrapper {
    padding: 8px;
    color: white;
  }

  .topic-page-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}