@import '@/scss-services/side-shadows.service';

.wallpaper-carousel {
    width: 1200px;
    height: 200px;

    display: flex;

    overflow: hidden;
    position: relative;


    .prev-button-placement {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 25;
    }

    .next-button-placement {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
        z-index: 25;
    }

    .wallpaper-carousel-wrapper {
        position: relative;
        display: flex;
    }

    @include side-shadows();
}