.wallpaper-carousel {
    width: 1200px;
    height: 200px;

    display: flex;

    overflow: hidden;
    position: relative;


    .prev-button-placement {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
    }

    .next-button-placement {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
        z-index: 999;
    }

    .wallpaper-carousel-wrapper {
        position: relative;
        display: flex;
    }

    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;

        width: 10%;
        height: 100%;
        pointer-events: none;
        z-index: 20;
    }

    &::before {
        left: 0;
        background: linear-gradient(to right, rgba(0,0,0, 100), rgba(0, 0, 0, 0));
    }

    &::after {
        left: 90%;
        background: linear-gradient(to left, rgba(0,0,0, 100), rgba(0, 0, 0, 0));
    }
}