.stepper-item {
    width: 16px;
    height: 16px;
    border-radius: 16px;

    background: #202020;

    transition: .3s ease;

    &[data-is-highlight=true] {
        background: white;
        box-shadow: 0 0 15px 2px rgba(255,255,255,1);
    }
}